@import "uikit.min";
@import "mediaplayer.min";
@import url('https://fonts.googleapis.com/css?family=Lora|Oswald');

// headline
h1{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  
}

// body


body{
  font-family: 'Lora', serif;
  background: light gray;
   
}

li{
  list-style-type:none;
}

img{
  width:20%;
}

//footer
