@import "uikit.min";
@import "mediaplayer.min";
@import url('https://fonts.googleapis.com/css?family=Lora|Oswald');

// headline
h1{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.char1 {
  color:orange;
}

.char18 {
  color:blue;
}

// body

body{
  font-family: 'Lora', serif;
}