@import "uikit.min";
@import "mediaplayer.min";
@import url('https://fonts.googleapis.com/css?family=Lora|Oswald');

// headline
h1{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color:white;
  
}

// body


body{
  font-family: 'Barlow Condensed', sans-serif;
  size:1em;
  color:white;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1488102/Space.jpg");
   
}

li{
  
}


//footer
